app.*/data/cache/*
app.*/data/html/*
app.*/data/logs/*
app.*/data/session/*
app.*/environment.txt
app.*/app/config2.php

example/data/cache/*
example/data/html/*
example/data/logs/*
example/data/session/*
example/environment.txt
example/app/config2.php

example/extend/_test/*
!.gitkeep

.settings
.idea
